body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 15px;
  border-bottom: 4px solid #bbb;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body > header > h1 {
  font-size: 48pt;
  line-height: 64px;
  margin: 0 auto;
  padding: 0;
}

body > nav {
  position: absolute;
  top: 64px;
  left: 0;
  width: 200px;
  padding: 0 15px;
}

body > nav > ul {
  list-style: none;
  padding-left: 0;
}

body > nav > ul > li > a {
  display: block;
  color: #888;
  padding: 5px 15px;
  text-decoration: none;
}

body > nav > ul > li > a:hover {
  background-color: #def;
  color: #000;
}

main {
  position: absolute;
  top: 64px;
  left: 230px;
  right: 0;
  padding: 0 15px;
}

h1 small {
  color: #777;
}

pre.error {
  background-color: #fee;
}

.CodeMirror {
  font-family: "Source Code Pro", Consolas, Inconsolata, monospace;
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
