@import "lib/bootstrap";

body {
  @extend .container;

  width: 100%;

  & > header {
    @extend .page-header;
  }
}

body > nav {
  position: absolute;
  left: 0;
  width: 200px;
  padding: 0 15px;

  & > ul {
    @extend .nav, .nav-pills, .nav-stacked;
  }
}

body > main {
  position: absolute;
  left: 230px;
  right: 0;
  padding: 0 15px;
}

#files > ul {
  @extend .list-group;

  & > li {
    @extend .list-group-item;
  }
}

.CodeMirror {
  font-family: "Source Code Pro", Consolas, Inconsolata, monospace;
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
