<!DOCTYPE html>
<html ng-app="gitty">
  <head>
    <title>Gitty</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="css/gitty.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/codemirror.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/mode/xml/xml.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/mode/css/css.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/mode/javascript/javascript.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/mode/diff/diff.js"></script>
    <script src="js/controllers/nav_controller.js"></script>
    <script src="js/controllers/main_controller.js"></script>
    <script src="js/gitty.js"></script>
  </head>

  <body>
    <header>
        <h1>
            Gitty
            <small>Node <script>document.write(process.version)</script></small>
        </h1>
    </header>

    <nav ng-controller="NavController">
        <ul>
            <li class="{{sectionClass('stage')}}">
                <a href="#stage" ng-click="showSection('stage')">Stage</a>
            </li>
            <li class="{{sectionClass('diff')}}">
                <a href="#diff" ng-click="showSection('diff')">Diff</a>
            </li>
            <li class="{{sectionClass('files')}}">
                <a href="#files" ng-click="showSection('files')">Files</a>
            </li>
        </ul>
    </nav>

    <main ng-controller="MainController">
        <section id="stage" ng-show="isCurrentSection('stage')">
            <pre>{{stage}}</pre>
        </section>

        <section id="diff" ng-show="isCurrentSection('diff')">
            <pre>{{diff}}</pre>
        </section>

        <section id="files" ng-show="isCurrentSection('files')">
            <ul>
                <li ng-repeat="file in files">
                    <a href="#">{{file}}</a>
                </li>
            </ul>
        </section>
    </main>
  </body>
</html>
